*{
  box-sizing: border-box;
}

.intro {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease-out;
}

.intro.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.App {
 display: flex;
 flex-direction: column;
 background-color: rgb(134, 134, 134);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.navbar {
  height: 80px;
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  top: 0;  
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(134, 174, 173);
  color: white;
  padding: 20px;

}

.navbar a {
  text-align: center;
  display: flex;
  align-items: center;

}

.video {
  width: 100%;
  min-width: 350px;
}

